td {
  padding-right: 1em;
  border: 1px solid black;
}

table {
  border: 2px solid black;
  border-radius: 3%;
}

.form-container {
  position: relative;
  overflow: visible;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
